    /* My Awesome Styles */
    /* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/
    /* * {
    outline: 1px dotted black;
} */
    /* Google Doodle */
    
    #stage {
        background: #000;
        height: 300px;
        width: 600px;
        position: relative;
        overflow: hidden;
    }
    
    #go {
        color: white;
        font-size: 5em;
        font-family: 'Press Start 2P', cursive;
        text-align: center;
        position: absolute;
        top: 100px;
        left: 70px;
    }
    
    .stars {
        position: absolute;
        top: -5px;
    }
    
    .st1 {
        fill: #fff
    }
   