    /* Google Doodle */
    
    #stage {
        background: #000;
        height: 300px;
        width: 600px;
        position: relative;
        overflow: hidden;
    }
    
    #go {
        color: white;
        font-size: 5em;
        font-family: 'Press Start 2P', cursive;
        text-align: center;
        margin-top: 100px;
        margin-left: 70px;
    }
    
    .stars {
        margin-top: -200px
    }
    
    .st1 {
        fill: #fff
    }
    
    #capt {
        margin-top: -305px;
    }